---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: static-route-operator
subjects:
  - kind: ServiceAccount
    name: static-route-operator
roleRef:
  kind: ClusterRole
  name: static-route-operator
  apiGroup: rbac.authorization.k8s.io
